@using WebParser.Models
@model WebParser.Models.Response

@{
    ViewBag.Title = "Your Page";
   
}

<head>
    <link rel="stylesheet" href="~/Styles/ResponseStyle.css">
</head>

<body onload="countHtmlTags()">
    
    @if (!string.IsNullOrEmpty(Model.Title))
    {
        <h1>@Model.Title</h1>
    }

    @if (!string.IsNullOrEmpty(Model.Excerpt))
    {
        <h4>@Model.Excerpt</h4>
    }

    @if (!string.IsNullOrEmpty(Model.Author))
    {
        <h4>Written by @Model.Author</h4>
    }

    @if (Model.DatePublished.ToString() != "01.01.0001 00:00:00")
    {
        <h4> In @Model.DatePublished</h4>
    }

    @if (!string.IsNullOrEmpty(Model.WordCount.ToString()))
    {
        <h4>There are @Model.WordCount words!</h4>
    }

    @if (!string.IsNullOrEmpty(Model.ImageUrl))
    {
        <h4>There is even image: @Model.ImageUrl</h4>
    }

    @if (!string.IsNullOrEmpty(Model.Url))
    {
        <h4>This is url of website: @Model.Url</h4>
    }

    @if (!string.IsNullOrEmpty(Model.Domain))
    {
        <h4>And domain: @Model.Domain</h4>
    }

    @if (!string.IsNullOrEmpty(Model.Dek))
    {
        <h4>Dek: @Model.Dek</h4>
    }

    @if (!string.IsNullOrEmpty(Model.NextPageUrl))
    {
        <h4>Next page url: @Model.NextPageUrl</h4>
    }

    @if (!string.IsNullOrEmpty(Model.TotalPages.ToString()))
    {
        <h4>Total pages: @Model.TotalPages</h4>
    }

    @if (!string.IsNullOrEmpty(Model.RenderedPages.ToString()))
    {
        <h4>Rendered pages: @Model.RenderedPages</h4>
    }
   
    <h1>Last time you were looking that URLs: </h1>

    @foreach (var lasturl in @ViewBag.ListOfLastUrls)
    {
        <h4>"@lasturl"</h4>
    }

    <h1>The most common tags in content: </h1>
    <div align="center" id="TopHtml"></div>
    <div id="displaycontent">
        @if (!string.IsNullOrEmpty(Model.Content))
        {
            <h1>There is content from website: </h1>
            <h6 id="Content">@Model.Content</h6>
        }
    </div>

</body>
